From the following sequence of numbers, find which are the 11 consecutive numbers that multiplied together (their product) give the largest possible number.
<br><br>
7326 2647 9781 9004 6834 6616 6262 3198 1148 5546 7224 9891 8417 2346 7401 1613 9453 3546 7123 5833 4647 6356 9603 8138 3 553 2152 9861 2223 8217 2048 9251 2360 3983 7945 8818 9829 6319 7335 1521 2965 2971 3115 6742 2320 8222 3483 4552 9095 9391 8813 4088 9887 2201 5765 1727 4655 9890 8409 5351 5285 2861 7641 1567 3985 1722 3525 8024 9714 4719 7404 4302 8466 6168 6114 1 734 8686 7551 6268 1917 3056 8903 8109 9663 8412 3573 8211 9977 4609 7468 9979 3476 4047 2629 3943 2386 7173 8721 5703 7286 1964 2024 7654 1916 8788 2878 3254 3726 6057 2771 5038 8785 3131 7635 1539 2375 3067 9645 4602 3482 7872 8205 7088 4855 2009 3 595 6105 7148 2015 3877 5422 3648 2590 3376 3529 2929 4225 7767 5961 8933 7313 7913 5735 4442 2752 8379 3085 7748 4956 5552 7851 5494 9276 7117 1943 1473 6333 6453 3718 6194 9736 1517 4114 5218 9064 2364 4869 5152 2046 4858 8042 1877 7970 4501 5246 3 021 8943 9133 7163 2397 3928 4098 2926 5091 9010 2328 1086 4019 2689 8342 6765 8558 3165 6282 6925 5747 3865 1378 7419 8581 5315 5108 2821 3233 4753 7403 6825 8512 9682 2469 7565 9445 5058 8783 8123 1483 7413 8798 9590 2621 7079 8225 7517 8865 2888 4 645 1370 3705 9858 7269 2729 4131 9301 2278 9664 5316 1564 9894 7034 4026 8134 1959 4074 3656 9878

In [2]:
numbers = "7326 2647 9781 9004 6834 6616 6262 3198 1148 5546 7224 9891 8417 2346 7401 1613 9453 3546 7123 5833 4647 6356 9603 8138 3553 2152 9861 2223 8217 2048 9251 2360 3983 7945 8818 9829 6319 7335 1521 2965 2971 3115 6742 2320 8222 3483 4552 9095 9391 8813 4088 9887 2201 5765 1727 4655 9890 8409 5351 5285 2861 7641 1567 3985 1722 3525 8024 9714 4719 7404 4302 8466 6168 6114 1734 8686 7551 6268 1917 3056 8903 8109 9663 8412 3573 8211 9977 4609 7468 9979 3476 4047 2629 3943 2386 7173 8721 5703 7286 1964 2024 7654 1916 8788 2878 3254 3726 6057 2771 5038 8785 3131 7635 1539 2375 3067 9645 4602 3482 7872 8205 7088 4855 2009 3595 6105 7148 2015 3877 5422 3648 2590 3376 3529 2929 4225 7767 5961 8933 7313 7913 5735 4442 2752 8379 3085 7748 4956 5552 7851 5494 9276 7117 1943 1473 6333 6453 3718 6194 9736 1517 4114 5218 9064 2364 4869 5152 2046 4858 8042 1877 7970 4501 5246 3021 8943 9133 7163 2397 3928 4098 2926 5091 9010 2328 1086 4019 2689 8342 6765 8558 3165 6282 6925 5747 3865 1378 7419 8581 5315 5108 2821 3233 4753 7403 6825 8512 9682 2469 7565 9445 5058 8783 8123 1483 7413 8798 9590 2621 7079 8225 7517 8865 2888 4645 1370 3705 9858 7269 2729 4131 9301 2278 9664 5316 1564 9894 7034 4026 8134 1959 4074 3656 9878"

In [3]:
list_numbers = numbers.split(" ") #Split the string by the spaces and generate a list with only the numbers

In [4]:
list_numbers[:5]

['7326', '2647', '9781', '9004', '6834']

In [5]:
# Here the only thing I do is convert each element of the list into a number, since they were originally saved as strings
int_list = []
for i in list_numbers:
    i = int(i)
    int_list.append(i)

list_numbers = int_list
list_numbers[:5]

[7326, 2647, 9781, 9004, 6834]

In [6]:
# As I will be removing numbers from the list later, we create a copy so as not to lose the original list
list_numbers_2 = list_numbers.copy()

In [7]:
# We create a list only for the products of the multiplication of the 11 consecutive numbers
products_list = []
while len(list_numbers) > 11:
    producto = 1
    for i in range(12):
        producto *= list_numbers[i]
    products_list.append(producto)
    producto = 1
    list_numbers.pop(0)

total_products = products_list
total_products[:20]

[703463044096330132540577408572029354039803904,
 808223920578598242641829108374388625846714368,
 716317838185640905643268261521086405831655424,
 542017004438393655318048093601631785048571904,
 97098337201147153046202973676080860648972288,
 134309420772965179652583656739829144822173696,
 71986276611386718114882352901970094851787776,
 81884102252141103981524592737261735169160704,
 149352710580593827243349890380377642664701184,
 604566242219529194424953781008375353190650176,
 692863872258804103816265097744182067234001536,
 921037066071607946975026818056115779574766992,
 757799984196819883983699145216931575591897056,
 319883966241095526647746591773287143647143904,
 293431498444517294691368570117695623669502848,
 390964465094093371564867648956978319822316928,
 538818354559311571598698563937608682557353088,
 468366700456348586038982978935293615209327232,
 270506204888494614835825476835725133657276416,
 351320076010594367800957670392712791164321792]

In [8]:
groups_list = []
while len(list_numbers_2) > 11: # Generate a loop that plays as long as the length of the list is greater than 11
    sub_list = [] # This list is to house the groups of 11 consecutive numbers
    for i in range(11):
        sub_list.append(list_numbers_2[i]) # Insert 11 values into the sub_list to get a group of 11 consecutive numbers
    # Once we have the group of 11 consecutive numbers, we add the group to the groups_list where it will be stored
    # the groups of 11 numbers. Then we empty the list sub_list to start over again with the group of 11 numbers that follows it
    # and finally we eliminate the first value of the list list_numbers_2 so we discard it for the next group of 11 numbers
    groups_list.append(sub_list)
    sub_list = []
    list_numbers_2.pop(0)
groups_list[:20]

[[7326, 2647, 9781, 9004, 6834, 6616, 6262, 3198, 1148, 5546, 7224],
 [2647, 9781, 9004, 6834, 6616, 6262, 3198, 1148, 5546, 7224, 9891],
 [9781, 9004, 6834, 6616, 6262, 3198, 1148, 5546, 7224, 9891, 8417],
 [9004, 6834, 6616, 6262, 3198, 1148, 5546, 7224, 9891, 8417, 2346],
 [6834, 6616, 6262, 3198, 1148, 5546, 7224, 9891, 8417, 2346, 7401],
 [6616, 6262, 3198, 1148, 5546, 7224, 9891, 8417, 2346, 7401, 1613],
 [6262, 3198, 1148, 5546, 7224, 9891, 8417, 2346, 7401, 1613, 9453],
 [3198, 1148, 5546, 7224, 9891, 8417, 2346, 7401, 1613, 9453, 3546],
 [1148, 5546, 7224, 9891, 8417, 2346, 7401, 1613, 9453, 3546, 7123],
 [5546, 7224, 9891, 8417, 2346, 7401, 1613, 9453, 3546, 7123, 5833],
 [7224, 9891, 8417, 2346, 7401, 1613, 9453, 3546, 7123, 5833, 4647],
 [9891, 8417, 2346, 7401, 1613, 9453, 3546, 7123, 5833, 4647, 6356],
 [8417, 2346, 7401, 1613, 9453, 3546, 7123, 5833, 4647, 6356, 9603],
 [2346, 7401, 1613, 9453, 3546, 7123, 5833, 4647, 6356, 9603, 8138],
 [7401, 1613, 9453, 3546, 7123, 5833, 4647, 6356, 9603, 8138, 3553],
 [1613, 9453, 3546, 7123, 5833, 4647, 6356, 9603, 8138, 3553, 2152],
 [9453, 3546, 7123, 5833, 4647, 6356, 9603, 8138, 3553, 2152, 9861],
 [3546, 7123, 5833, 4647, 6356, 9603, 8138, 3553, 2152, 9861, 2223],
 [7123, 5833, 4647, 6356, 9603, 8138, 3553, 2152, 9861, 2223, 8217],
 [5833, 4647, 6356, 9603, 8138, 3553, 2152, 9861, 2223, 8217, 2048]]

In [9]:
import pandas as pd

In [10]:
dicc = { "List of 11 consecutive numbers":groups_list, "Total of multiplication":total_products
}

In [12]:
# Convert the values of the column "Total of multiplicationmultiplication" to numbers
df = pd.DataFrame(dicc)
df["Total of multiplication"] = pd.to_numeric(df["Total of multiplication"], errors="coerce")

In [13]:
# Set the columns of the df to my preference
df = df[["List of 11 consecutive numbers","Total of multiplication"]]

In [14]:
# Sort the df in descending order according to the values of the column "Total of multiplication"
df = df.sort_values("Total of multiplication",ascending=False)

In [15]:
df

,List of 11 consecutive numbers,Total of multiplication
80,"[8903, 8109, 9663, 8412, 3573, 8211, 9977, 460...",8.299558e+45
79,"[3056, 8903, 8109, 9663, 8412, 3573, 8211, 997...",6.267223e+45
206,"[8512, 9682, 2469, 7565, 9445, 5058, 8783, 812...",4.866364e+45
75,"[8686, 7551, 6268, 1917, 3056, 8903, 8109, 966...",4.136878e+45
202,"[3233, 4753, 7403, 6825, 8512, 9682, 2469, 756...",4.073341e+45
...,...,...
177,"[7163, 2397, 3928, 4098, 2926, 5091, 9010, 232...",8.454743e+42
178,"[2397, 3928, 4098, 2926, 5091, 9010, 2328, 108...",7.984970e+42
122,"[4855, 2009, 3595, 6105, 7148, 2015, 3877, 542...",7.295874e+42
104,"[2878, 3254, 3726, 6057, 2771, 5038, 8785, 313...",6.946297e+42
123,"[2009, 3595, 6105, 7148, 2015, 3877, 5422, 364...",4.401569e+42

In [17]:
print("These are the 11 consecutive numbers of the sequence that multiplied together give the greatest possible product")
print(df["List of 11 consecutive numbers"][df["Total of multiplication"].idxmax()])
print("")
print(f"This group of 11 consecutive numbers is in the position '{total_products.index(max(total_products))}' of the sequence")
print("")
print("The product of the multiplication of the 11 numbers is")
print(total_products[df["Total of multiplication"].idxmax()],"\nlen:",len(str(total_products[df["Total of multiplication"].idxmax()])))

These are the 11 consecutive numbers of the sequence that multiplied together give the greatest possible product
[8903, 8109, 9663, 8412, 3573, 8211, 9977, 4609, 7468, 9979, 3476]

This group of 11 consecutive numbers is in the position '80' of the sequence

The product of the multiplication of the 11 numbers is
8299558111287508560272843623382752974935351232
len: 46

In [18]:
df.head(1)

                       List of 11 consecutive numbers  Total of multiplication
80  [8903, 8109, 9663, 8412, 3573, 8211, 9977, 460...             8.299558e+45

7326 2647 9781 9004 6834 6616 6262 3198 1148 5546 7224 9891 8417 2346 7401 1613 9453 3546 7123 5833 4647 6356 9603 8138 3553 2152 9861 2223 8217 2048 9251 2360 3983 7945 8818 9829 6319 7335 1521 2965 2971 3115 6742 2320 8222 3483 4552 9095 9391 8813 4088 9887 2201 5765 1727 4655 9890 8409 5351 5285 2861 7641 1567 3985 1722 3525 8024 9714 4719 7404 4302 8466 6168 6114 1734 8686 7551 6268 1917 3056 <mark>8903 8109 9663 8412 3573 8211 9977 4609 7468 9979 3476</mark> 4047 2629 3943 2386 7173 8721 5703 7286 1964 2024 7654 1916 8788 2878 3254 3726 6057 2771 5038 8785 3131 7635 1539 2375 3067 9645 4602 3482 7872 8205 7088 4855 2009 3595 6105 7148 2015 3877 5422 3648 2590 3376 3529 2929 4225 7767 5961 8933 7313 7913 5735 4442 2752 8379 3085 7748 4956 5552 7851 5494 9276 7117 1943 1473 6333 6453 3718 6194 9736 1517 4114 5218 9064 2364 4869 5152 2046 4858 8042 1877 7970 4501 5246 3021 8943 9133 7163 2397 3928 4098 2926 5091 9010 2328 1086 4019 2689 8342 6765 8558 3165 6282 6925 5747 3865 1378 7419 8581 5315 5108 2821 3233 4753 7403 6825 8512 9682 2469 7565 9445 5058 8783 8123 1483 7413 8798 9590 2621 7079 8225 7517 8865 2888 4645 1370 3705 9858 7269 2729 4131 9301 2278 9664 5316 1564 9894 7034 4026 8134 1959 4074 3656 9878